body {
    background-color: #F7FFF7;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #28A745;
  }
  
  .select:focus {
    box-shadow: none;
    border-color: #28A745;
  }
  